/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

h1 {
    display: inline-block;
    letter-spacing: -1.1px;
    max-width: 750px;
    margin: 0em 20% 0;
    line-height: 1.25em;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    background-color: #0d61ff;
    background-image: url(https://media.giphy.com/media/9JxkPTP3alOykb8PmQ/source.gif);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 200%;
}