<div class="grid">
    <div class="col-12">
        <div class="text-center py-1 border-round-sm bg-blue-300 text-2xl font-bold">
            <h1>Lets Learn Behavior Subject Under a Minute</h1>
        </div>
    </div>
    <div class="col-6">
        <div class="text-center py-1 border-round-sm bg-blue-300 text-2xl font-bold">
            <p>Component 1</p>
            <button
                class="bg-black-alpha-90 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"
                (click)="onSubmit()">Emit Value</button>
        </div>
    </div>
    <div class="col-6">
        <div class="text-center py-1 border-round-sm bg-blue-300 text-2xl font-bold">
            <app-bs-two-view></app-bs-two-view>
        </div>
    </div>
</div>