<header class="header sticky sticky--top js-header">

    <div class="grid">

        <nav class="navigation">
            <ul class="navigation__list navigation__list--inline">
                <li class="navigation__item"><a [routerLink]="['/']" [routerLinkActive]="'navigation__link--is-active'"
                        [routerLinkActiveOptions]="{exact : true}" class="navigation__link ">Home</a>
                </li>
                <li class="navigation__item"><a [routerLink]="['parentChild']"
                        routerLinkActive="navigation__link--is-active" class="navigation__link">About Us</a>
                </li>
                <li class="navigation__item"><a [routerLink]="['pipes']" class="navigation__link"
                        routerLinkActive="navigation__link--is-active">Work</a></li>
                <li class="navigation__item"><a [routerLink]="['servicesOne']" class="navigation__link"
                        routerLinkActive="navigation__link--is-active">Clients</a></li>
                <li class="navigation__item"><a [routerLink]="['servicesTwo']" class="navigation__link"
                        routerLinkActive="navigation__link--is-active">Contact</a></li>
            </ul>
        </nav>

    </div>

</header>

<router-outlet></router-outlet>